@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #0066ff;
  --secondary-blue: #3b88ff;
  --primary-purple: #573280;
  --primary-grey: #E7E7EE;
  --primary-black: #000000;
  --text-grey: rgba(0,0,0,0.75);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.dropdown {
  @apply absolute top-24 left-0 w-screen bg-[var(--primary-grey)]
    h-0 p-0 overflow-hidden lg:hidden;
}

.dropdown.active {
  overflow: auto;
  @apply p-8 h-fit;
}

.close {
  cursor: pointer;
  div:nth-child(1) {
    transform: translateY(1px);
    rotate: 45deg;
  }
  div:nth-child(2) {
    display: none;
  }
  div:nth-child(3) {
    transform: translateY(-1px);
    rotate: -45deg;
  }
  @apply lg:hidden;
}
